.head{
    text-align: center;
    font-style: italic;
}

.table , tr , th,td{
    border : double;
    font-style: italic;
    text-align: center;
  }

  th{
    background-color: black;
    color: aliceblue;
  }
  .btn{
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    font-style: italic;
  }
  .btnDanger{
    display: block;
    width: 100%;
    border: none;
    background-color: #ab0303;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color:aliceblue;
    font-style: italic;
  }

